In [1]:
import pandas as pd
from datetime import datetime
import csv

In [1]:
# discribe netflix data
file1 = open('./netflix_prize_data/test.txt')
print(file1.readlines())

['1:\n', '1488844,3,2005-09-06\n', '822109,5,2005-05-13\n', '885013,4,2005-10-19\n', '30878,4,2005-12-26\n', '823519,3,2004-05-03']

In [3]:
# combine netflix data
start = datetime.now()
data = open('data.csv','w')
row = list()
files = [
    './netflix_prize_data/combined_data_1.txt',
    './netflix_prize_data/combined_data_2.txt',
    './netflix_prize_data/combined_data_3.txt',
    './netflix_prize_data/combined_data_4.txt'
]
for file in files:
    with open(file) as f:
        for line in f:
            line = line.strip()
            if line.endswith(':'):
                movie_id = line.replace(':','')
            else:
                row = [x for x in line.split(',')]
                row.insert(0,movie_id)
                data.write(','.join(row))
                data.write('\n')
data.close()
print('Time taken:',datetime.now()-start)

Time taken: 0:01:47.374506

In [2]:
df = pd.read_csv('data.csv',sep=',',names=['movieId','userId','rating','date'])
df.date = pd.to_datetime(df.date)
df.sort_values(by='userId',inplace=True)
df.head()

          movieId  userId  rating       date
79334307    14358       6       2 2005-12-04
34092597     6134       6       4 2005-01-12
32652672     5926       6       4 2005-10-26
38173947     6797       6       3 2004-11-10
20618167     3905       6       3 2005-12-04

In [15]:
df.to_csv('netflix_data_noindex.csv',index=False)
print(len(df))

100480507

In [16]:
df_25M = df[:25000000]
df_25M.to_csv('netflix_data_25M.csv',index=False)

In [3]:
# see how many user rating
a = set(df_25M.userId.tolist())
len(a)

119857

In [ ]:
# add column name in movie_titles.csv
movie_title = pd.read_csv('./netflix_prize_data/movie_titles.csv',names=['movieId','year','movie'],encoding = "ISO-8859-1",error_bad_lines=False)
movie_title.to_csv('netflix_movie.csv',index=False)

In [8]:
# disney data preprocessing
disney = pd.read_csv('disney.csv')
pre_name = []
name = []
for row in disney['author_name']:
    pre_name.append(row)
    if row not in name:
        name.append(row)
print(len(name)) # no repeat user
print(len(pre_name))

6111
8455

In [11]:
# create user and it userId
list = []
rowname = ['userID','user']
for idx, user in enumerate(name):
    id_user = [idx,user]
    list.append(id_user)
with open('disney_user.csv','w',newline='',encoding='utf-8') as f:
    writer = csv.writer(f)
    writer.writerow(rowname)
    writer.writerows(list)

In [14]:
# translate score 1-10 t0 1-5
translate = []
for num in disney['score']:
    new_num = round(((num-1)/(10-1))*(5-1) + 1)
    translate.append(new_num)
disney['rating'] = translate

In [46]:
pre_film_name = []
film_name = []
for row in disney['film_name']:
    pre_film_name.append(row)
    if row not in film_name:
        film_name.append(row)
print(len(film_name))
print(len(pre_film_name))

21
8455

In [49]:
# create movie and movieId
list = []
rowname = ['movieId','movie']
for idx, user in enumerate(film_name):
    id_user = [idx,user]
    list.append(id_user)
with open('disney_movie.csv','w',newline='',encoding='utf-8') as f:
    writer = csv.writer(f)
    writer.writerow(rowname)
    writer.writerows(list)

In [ ]:
# create user and userId dictionary
values = range(6111)
keys = name
user_dict=dict(zip(keys,values))
# print(user_dict)

In [ ]:
# use dictionary to translate author name(user) in order to get userId
userID = []
for user in disney['author_name']:
    if user in user_dict.keys():
        userid = user_dict.get(user)
        userID.append(userid)
# print(len(userID))
# print(userID)

In [48]:
disney['userId'] = userID
disney.head(5)

,film_name,film_year,author_name,review_date,score,title_name,review_text,POU,rating,userId
0,Peter pan,1953,SpencerDeane,26 Jun 2018,9,Pretty great,This is a great classic for all ages. I recomm...,0.00,5,0
1,Peter pan,1953,AdrianaAdams,20 May 2015,10,childhood classic,A childhood classic that is still enjoyable to...,33.33,5,1
2,Peter pan,1953,lukeduke20164,10 Oct 2018,8,Awesome!,Nice movie! It has that animation that is kind...,0.00,4,2
3,Peter pan,1953,witch-nikki-porras,14 Jul 2013,0,Racial Song,"The song ""What makes a Red Man Red?"" IS terrib...",11.11,1,3
4,Peter pan,1953,sarah-tranter,27 Dec 2004,7,One of Disney's classics!!,NaN,40.00,4,4

In [51]:
# create movie amd movieId dictionary
values = range(21)
keys = film_name
movie_dict=dict(zip(keys,values))
print(movie_dict)

{'Peter pan': 0, 'Alice nel paese delle meraviglie': 1, 'Cenerentola': 2, 'La Spada nella Roccia': 3, 'The Jungle Book': 4, 'Mary Poppins': 5, 'The Aristocats': 6, 'The Rescuers': 7, 'The Many Adventures of Winnie the Pooh': 8, 'The Little Mermaid': 9, 'Tron': 10, 'Oliver & Company': 11, 'Aladdin': 12, 'The Lion King': 13, 'Hercules': 14, "The Emperor's New Groove": 15, 'Spirited Away': 16, 'Lilo & Stitch': 17, 'Tangled': 18, 'Brave': 19, 'Frozen': 20}

In [ ]:
# use dictionary to translate film name(user) in order to get movieId
movieID = []
for name in disney['film_name']:
    if name in movie_dict.keys():
        movieid = movie_dict.get(name)
        movieID.append(movieid)
# print(len(movieID))
# print(movieID)

In [53]:
disney['movieId'] = movieID
disney.head(5)

,film_name,film_year,author_name,review_date,score,title_name,review_text,POU,rating,userId,movieId
0,Peter pan,1953,SpencerDeane,26 Jun 2018,9,Pretty great,This is a great classic for all ages. I recomm...,0.00,5,0,0
1,Peter pan,1953,AdrianaAdams,20 May 2015,10,childhood classic,A childhood classic that is still enjoyable to...,33.33,5,1,0
2,Peter pan,1953,lukeduke20164,10 Oct 2018,8,Awesome!,Nice movie! It has that animation that is kind...,0.00,4,2,0
3,Peter pan,1953,witch-nikki-porras,14 Jul 2013,0,Racial Song,"The song ""What makes a Red Man Red?"" IS terrib...",11.11,1,3,0
4,Peter pan,1953,sarah-tranter,27 Dec 2004,7,One of Disney's classics!!,NaN,40.00,4,4,0

In [57]:
# translate review_date to datetime type
disney['date'] = pd.to_datetime(disney.review_date)
disney.head(5)

,film_name,film_year,author_name,review_date,score,title_name,review_text,POU,rating,userId,movieId,date
0,Peter pan,1953,SpencerDeane,2018-06-26,9,Pretty great,This is a great classic for all ages. I recomm...,0.00,5,0,0,2018-06-26
1,Peter pan,1953,AdrianaAdams,2015-05-20,10,childhood classic,A childhood classic that is still enjoyable to...,33.33,5,1,0,2015-05-20
2,Peter pan,1953,lukeduke20164,2018-10-10,8,Awesome!,Nice movie! It has that animation that is kind...,0.00,4,2,0,2018-10-10
3,Peter pan,1953,witch-nikki-porras,2013-07-14,0,Racial Song,"The song ""What makes a Red Man Red?"" IS terrib...",11.11,1,3,0,2013-07-14
4,Peter pan,1953,sarah-tranter,2004-12-27,7,One of Disney's classics!!,NaN,40.00,4,4,0,2004-12-27

In [58]:
new_disney = disney.drop(['film_name','film_year','author_name','review_date','score','title_name','review_text','POU'],axis=1)
new_disney.head(5)

   rating  userId  movieId       date
0       5       0        0 2018-06-26
1       5       1        0 2015-05-20
2       4       2        0 2018-10-10
3       1       3        0 2013-07-14
4       4       4        0 2004-12-27

In [60]:
new_disney.sort_values(by='userId',inplace=True)
new_disney.head(5)

   rating  userId  movieId       date
0       5       0        0 2018-06-26
1       5       1        0 2015-05-20
2       4       2        0 2018-10-10
3       1       3        0 2013-07-14
4       4       4        0 2004-12-27

In [61]:
new_disney.to_csv('disney_data.csv',index = False)